<div class="container-fluid d-flex flex-column justify-content-end align-items-center home-container border">
  <div class="container d-flex h-100 justify-content-center align-items-center">
    <p class='display-1 main-title'>Smart Budget</p>
  </div>
  <div class="container d-flex flex-column justify-content-end align-items-center pb-5">
    <%= link_to 'LOG IN', new_user_session_path, method: :get, data: { turbo: false }, class: 'btn btn-primary btn-lg btn-block'%>
    <%= link_to 'SIGN UP', new_user_registration_path, method: :get, data: { turbo: false }, class: 'btn btn-light btn-lg btn-block'%>
  </div>
</div>
